#main-page {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	@media #{$max-screen-lg} {
		max-width: 992px;
	}
	@media #{$max-screen-md} {
		max-width: 768px;
	}
	@media #{$max-screen-xs} {
		max-width: none;
	}
}
